<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MittProjekt"
        tools:targetApi="31">
        <activity
            android:name=".Forum"
            android:exported="false"
            android:parentActivityName=".Forum"
            />
        <activity
            android:name=".Friends"
            android:exported="false"
            android:parentActivityName=".Friends"/>
        <activity
            android:name=".YourGames"
            android:exported="false"
            android:parentActivityName=".YourGames"/>
        <activity
            android:name=".Search"
            android:exported="false"
            android:parentActivityName=".Search"/>
        <activity
            android:name=".GamesDetails"
            android:exported="false"
            android:parentActivityName=".YourGames"/>
        <activity
            android:name=".GamesDetails2"
            android:exported="false"
            android:parentActivityName=".YourGames"/>
        <activity
            android:name=".GamesDetails3"
            android:exported="false"
            android:parentActivityName=".YourGames"/>
        <activity
            android:name=".GamesDetails4"
            android:exported="false"
            android:parentActivityName=".YourGames"/>
        <activity
            android:name=".GamesDetails5"
            android:exported="false"
            android:parentActivityName=".YourGames"/>
        <activity
            android:name=".GamesDetails6"
            android:exported="false"
            android:parentActivityName=".YourGames"/>
        <activity
            android:name=".GamesDetails7"
            android:exported="false"
            android:parentActivityName=".YourGames"/>
        <activity
            android:name=".YourFriends"
            android:exported="false"
            android:parentActivityName=".Friends"/>
        <activity
            android:name=".YourFriends2"
            android:exported="false"
            android:parentActivityName=".Friends"/>
        <activity
            android:name=".YourFriends3"
            android:exported="false"
            android:parentActivityName=".Friends"/>
        <activity
            android:name=".YourFriends4"
            android:exported="false"
            android:parentActivityName=".Friends"/>
        <activity
            android:name=".YourFriends5"
            android:exported="false"
            android:parentActivityName=".Friends"/>
        <activity
            android:name=".YourFriends6"
            android:exported="false"
            android:parentActivityName=".Friends"/>
        <activity
            android:name=".ForumPost"
            android:exported="false"
            android:parentActivityName=".Forum"/>
        <activity
            android:name=".ForumPost2"
            android:exported="false"
            android:parentActivityName=".Forum"/>
        <activity
            android:name=".ForumPost3"
            android:exported="false"
            android:parentActivityName=".Forum"/>
        <activity
            android:name=".ForumPost4"
            android:exported="false"
            android:parentActivityName=".Forum"/>
        <activity
            android:name=".ForumPost5"
            android:exported="false"
            android:parentActivityName=".Forum"/>
        <activity
            android:name=".ForumPost6"
            android:exported="false"
            android:parentActivityName=".Forum"/>
        <activity
            android:name=".ForumPost7"
            android:exported="false"
            android:parentActivityName=".Forum"/>
        <activity
            android:name=".AddFriend"
            android:exported="false"
            android:parentActivityName=".Friends"/>
        <activity
            android:name=".AddGame"
            android:exported="false"
            android:parentActivityName=".YourGames"/>


        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>